<%- include('header.ejs') -%>

<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>    

<div class="box">
    <% for(let i = 0; i < todoList.length; i++){ %>

        <form action="<%= "/" + todoList[i]._id %>" method="post">
            <div class="item">
                <input type="checkbox" onchange="this.form.submit()">
                <p> <%= todoList[i].name %> </p>
                
            </div>

            <input type="hidden" name="listName" value="<%= listTitle %>"></input>
        </form>

    <% } %>

    <form action="/" method="POST" class="item">
        <input type="text" name="todo" placeholder="Enter Todo" autocomplete="off">

        <button class="add-btn" type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
</div>

<%- include('footer.ejs') -%>
